:root {
  --primary-bg-color: #3b3f54;
  --primary-text-color: white;
  --secondary-bg-color: #fff;
  --secondary-text-color: #333333;
  --hover-bg-color: rgba(0, 0, 0, 0.1);
  --active-bg-color: #4da6ff;
  --table-border-color: #ddd;
  --table-header-bg-color: #f4f4f4;
  --main-bg-color: #f0f0f0;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --primary-padding: 3em;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
  }

button{
  border: 0;
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  padding: 0.5em 1.5em;
  border-radius: 0.5em;
}

  .dashboard {
    display: flex;
    height: 100vh;
  }

  .sidebar {
    width: 17em;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    
    display: flex;
    flex-direction: column;
    
    .sidebar-top{
      display: flex;
      flex-direction: column;
      height: 40%;
      align-items: center;
      justify-content: center;
    }
    .icon{
      width: 1.5em;
    }
  }

  .sidebar h1 {
    font-size: 1.5em;
    margin-bottom: 30px;
  }

  .sidebar nav ul {
    list-style: none;
    padding: 0;
    flex-grow: 1;
  }

  .sidebar nav {
    margin: 20px 0;
  }

  .sidebar nav ul li a {
    color: var(--primary-text-color);
    text-decoration: none;
  }

  .main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-bg-color);
    padding: 0 1em;
    box-shadow: 0 2px 4px var(--shadow-color);
  }

  .tables {
    margin-top: 20px;
  }

  .table {
    width: 100%;
    margin-bottom: 20px;
    background-color: var(--secondary-bg-color);
    border-collapse: collapse;
    box-shadow: 0 2px 4px var(--shadow-color);
  }

  .table th,
  .table td {
    padding: 10px;
    border: 1px solid var(--table-border-color);
  }

  .table th {
    background-color: var(--table-header-bg-color);
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  .table-buttons-box {
    display: inline-block;
    width: 18em; /* Increased width */
    border: 0.1em solid;
    text-align: center;
    cursor: pointer;
    background-color: var(--secondary-bg-color);
    box-shadow: 0 0.2em 0.5em var(--shadow-color);
    transition: background-color 0.3s, color 0.3s;
    color: var(--secondary-text-color);
    border-radius: 0.5em;
    p{
      font-size: small;
      font-weight: 500;
    }
    h3{
      color: var(--secondary-text-color);
      font-size:large;
      font-weight: 700;
    }
  }

  .table-buttons-box:hover {
    background-color: var(--hover-bg-color);
  }

  .table-buttons-box.active {
    /*background-color: var(--active-bg-color);
    color: var(--primary-text-color);*/
  }

  .table-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-inline:var(--primary-padding) ;
  }

  .table-title{
    padding-inline:var(--primary-padding) ;
  }

  .table-content {
    margin-top: 10px;
    scrollbar-width: auto;
    max-height:70% ;
    overflow-y: auto;
  }

  .table-header {
    margin-top: 20px;
    padding-inline:var(--primary-padding) ;
  }

.table-row{
  width: 100%;
  height: 2.3em;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  border-radius: 0.2em;
  box-shadow: 0 0.5em 1em var(--shadow-color);
  display: flex;
  justify-content: space-between;
  padding: 0.1em 0;
  margin-top: 0.5em;

  .table-col{
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .table-middle {
    border-left: 0.05em solid var(--primary-bg-color);
    border-right: 0.05em solid var(--primary-bg-color);
  }
}

.navButton{
  width: 100%;
  padding:0.7em 0.3em;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.navButton:hover{
  background-color: var(--main-bg-color);
  color: var(--secondary-text-color);
}

.next-btn{
  margin-top: 1em;
}

.next-container{
  padding-inline:var(--primary-padding) ;
  width: '100%';
  display: flex;
  justify-content: end;
}
/* Media queries */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .app {
    flex-direction: column;
  }

  .main-content {
    padding: 0;
  }
  .table-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-inline:0.2em ;
  }
  .table-container {
    margin-top: 20px;
    padding-inline:0.3em ;
    scrollbar-width: auto;
    max-height:70% ;
    overflow-y: auto;
    font-size: small;
  }
  
  .table-header {
    margin-top: 20px;
    padding-inline:5px ;
  }
  .table-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-inline:5px ;
  }

  .table-title{
    padding-inline:5px ;
  }
}

.auth-component{
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}